<!-- PAGE CONTAINER-->
<div class="page-container">
<!-- MAIN CONTENT-->
<div class="col-md-12">

    <div class="card">
        <div class="card-header">Student Profile</div>
        <div class="card-body">
            <div class="card-title">
                <h3 class="text-center title-2">Profile</h3>
            </div>
            <hr>
            <form action="" method="post" novalidate="novalidate">
                <div class="card-body card-block">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Full Name</label>
                                <input maxlength="100" type="text" name="name" class="form-control"
                                    placeholder={{name}}>
                            </div>

                        </div>
                       
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Phone Number</label>
                                <input maxlength="100" type="Tel" name="phoneNumber" class="form-control"
                                    placeholder={{phoneNumber}}>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Email </label>
                                <input maxlength="100" type="email" name="email" class="form-control"
                                    placeholder={{email}}>
                            </div>

                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Home /Mailing Address</label>
                                <input maxlength="100" type="text" name="homeAddress" class="form-control"
                                    placeholder={{address}}>
                            </div>

                            

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Nationality</label>
                                <input maxlength="100" type="text" name="country" class="form-control" placeholder={{nationality}}>
                            </div>
                        
                        </div>

                    </div>
                    
                                            <button class="btn btn-success btn-lg pull-right"
                                                type="submit">Save!</button>
                                        </div>
                                    </div>
                                </div>
            </form>
        </div>
    </div>

    <!-- // End of tabs-->
    <!-- registration form ends here -->


</div>
</div>

</div>