<div class="page-container">

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <!-- STUDENT PROFILE -->
                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-header">Dashboard</div>
                            <div class="card-body">
                                <div class="card-title">
                                    <h3 class="text-center title-2">PROFILE</h3>

                                </div>
                                <hr>
                                <div class="card-body card-block">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label"><strong>Full Name</strong></label>

                                                <p><noscript></noscript>{{user.name}}</p>
                                            </div>

                                        </div>




                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label"><strong>Phone Number</strong></label>
                                                <p>{{user.phoneNumber}}</p>
                                            </div>

                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label"><strong>Email</strong> </label>
                                                <p>{{user.email}}</p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label"><strong>Nationality</strong></label>

                                                <p><noscript></noscript>{{user.nationality}}</p>
                                            </div>

                                        </div>




                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label"><strong>Address</strong></label>
                                                <p>{{user.address}}</p>
                                            </div>

                                        </div>


                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- // End of tabs-->
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright © 2019 All rights reserved <a href="https://Plateau.com">Plateau</a>.</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- // MAIN CONTENT -->
</div>
</div>